<!-- <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> -->

<div class="fill">
  <footer class="footer">
      <div class="icon">
          
          Connect With Me!!!

          <ul>
              <li class="list-inline"><a href="https://github.com/Snow-Bull" target="_blank"><i
                          class="fa fa-github"></i></a></li>
              <li class="list-inline"><a href="https://twitter.com/SusmitMukherje5" target="_blank"><i
                          class="fa fa-twitter"></i></a></li>
              <li class="list-inline"><a href="https://www.linkedin.com/in/susmit-mukherjee-5aa8211b5/"
                      target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>

  </footer>
</div>
