<nav class="navbar navbar-expand-lg bg-light">
  
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ArticleHub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#" data-component="all-posts">Home</a>
          <a class="nav-link" href="#" data-component="my-post">My Posts</a>
          <a class="nav-link" href="#"  data-component="write-post">Write</a>
        </div>
       

      </div>
      <span id="userId">USER</span>
      
    </div>
    
  </nav>
  <script src="/app/navbar.js"></script>
  