<h1 class="h1 text-center">Write Posts</h1>
<form>
    <div class="form-group col-4">
     <b><label class="m-2" for="ptitle ">Title of the Post</label></b>
      <input type="text" class="form-control m-2" id="ptitle" placeholder="Example input">
    </div>
    <div class="form-group">
      <b><label class="m-2"  for="pbody m-2">Body of the Post</label></b>
        <textarea class="form-control m-2" id="pbody" rows="3"></textarea>
    </div>
    <button id="submitBtn" type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>
<script src="/app/write-post.js"></script>

